#root {
    margin: 0 auto;
}

.main-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main";
    
    grid-template-rows: auto 1fr;

    grid-template-columns: 400px 1fr; 
    
    height: 100vh;
    width: 100vw;
}

.navbar-container {
    grid-area: header;
    /* background: #ffcccc; */
}

.filter-container {
    grid-area: sidebar;
    /* background: #ccffcc; */
}
.result-container {
    grid-area: main;
    /* background: #ccccff; */
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
            "header"
            "sidebar"
            "main";
    }
}

