#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    /* text-align: center; */
}

.main-container{
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    height: 100vh;
    width: 100vw;
    
}
.filter-result-container{
    display: flex;
}
.filter-container{
    width: 30vw;
}
.result-container{
    width: 70vw;
}

