.filter-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bolder;
    font-size: large;
}

.country-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.country-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.country-dropdown-container option {
    display: flex;
}

.vehicleType-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.vehicleType-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.vehicleType-dropdown-container option {
    display: flex;
}

.manufacture-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.manufacture-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.manufacture-dropdown-container option {
    display: flex;
}

.model-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
        background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.model-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.model-dropdown-container option {
    display: flex;
}

.engineSize-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.engineSize-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.engineSize-dropdown-container option {
    display: flex;
}

.year-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.year-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.year-dropdown-container option {
    display: flex;
}

.fuelType-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.fuelType-dropdown-container {
    display: flex;
    min-width: 100%;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.fuelType-dropdown-container option {
    display: flex;
}

.filter-main-container img {
    width: 30px;
    height: 30px;
}

.dropdown-img{
    display: flex;
    justify-content: center;
    align-items: center;

}
