
.main-container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap:1rem;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
    width: 30vw;
}
.country-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    min-width: 28vw;
    flex-direction: row;
}
.country-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.country-dropdown-container option{
    display: flex;
    text-align: center;
    font-size: 30px;
}
.vehicleType-dropdown{
    display: flex;
    height: 3rem;
    min-width: 28vw;
    flex-direction: row;
}
.vehicleType-dropdown-container{
    display: flex;
    margin-left: 10px;
    min-width: 28vw;
    flex-direction: row;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border-color: black;
}
.manufacture-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    width: 28vw;
    flex-direction: row;
}
.manufacture-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.manufacture-dropdown-container option{
    text-align: center;
    display: flex;
}
.model-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    width: 28vw;
    flex-direction: row;
}
.model-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.model-dropdown-container option{
    display: flex;
    text-align: center;
}
.engineSize-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    width: 28vw;
    flex-direction: row;
}
.engineSize-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.engineSize-dropdown-container option{
    display: flex;
    text-align: center;
}
.year-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    width: 28vw;
    flex-direction: row;
}
.year-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.year-dropdown-container option{
    display: flex;
    text-align: center;
}
.fuelType-dropdown{
    display: flex;
    margin-left: 10px;
    height: 3rem;
    width: 28vw;
    flex-direction: row;
}
.fuelType-dropdown-container{
    display: flex;
    min-width: 28vw;
    border-radius: 5px;
    border-color: black;
    background-color: #D9D9D9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fuelType-dropdown-container option{
    display: flex;
    text-align: center;
}
.main-container img{
    width: 30px;
    height: 30px;
}

.dropdown-img{
    display: flex;
    justify-content: center;
    align-items: center;

}
