.filter-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dropdown-img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.clear-filter-btn {
    cursor: pointer; 
    margin-left: 10px;
    width: 20px;
    height: 20px; 
    transition: transform 0.2s;
    opacity: 0.5;
    flex-shrink: 0;
    /* box-sizing: content-box; */
    padding: 4px;
}

.clear-filter-btn:hover {
    transform: scale(1.1);
}

.clear-filter-btn.hidden {
    visibility: hidden;
    pointer-events: none;
}

.dropdown-outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.dropdown-inner-container {
    display: flex;
    margin-left: 2rem;
    height: 3rem;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
    align-items: center;
    flex-grow: 1;
    width: auto;
}

.dropdown-select {
    display: flex;
    width: 100%;
    flex-grow: 1;
    min-width: 0;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: bolder;
    font-size: large;
}

/* Container div */
.clear-button-container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
}

.clear-button {
    padding: 0.5rem 1.5rem;       
    font-weight: bold;
    border: solid;                 
    border-radius: 20px;          
    border-width: 1px;
    background-color: #e7e7e7;   
    border-color: rgb(192, 190, 190);
    cursor: pointer;              
}

/* Hover effect for the button */
.clear-button:hover {
    background-color: rgb(192, 190, 190);
}


