select {
    /* padding: 2rem; */
}

.filter-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
}

.country-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.country-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.country-dropdown-container option {
    display: flex;
    text-align: center;
}

.vehicleType-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.vehicleType-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vehicleType-dropdown-container option {
    display: flex;
    text-align: center;
}

.manufacture-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.manufacture-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.manufacture-dropdown-container option {
    text-align: center;
    display: flex;
}

.model-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.model-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.model-dropdown-container option {
    display: flex;
    text-align: center;
}

.engineSize-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.engineSize-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.engineSize-dropdown-container option {
    display: flex;
    text-align: center;
}

.year-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.year-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.year-dropdown-container option {
    display: flex;
    text-align: center;
}

.fuelType-dropdown {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 3rem;
    flex-direction: row;
}

.fuelType-dropdown-container {
    display: flex;
    min-width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #e7e7e7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fuelType-dropdown-container option {
    display: flex;
    text-align: center;
}

.filter-main-container img {
    width: 30px;
    height: 30px;
}

.dropdown-img{
    display: flex;
    justify-content: center;
    align-items: center;

}
