.navbar-container{
    background-color: rgb(192, 190, 190);
}
#main-container {
    display: flex;
    height: 3rem;
    width: 100vw;
    max-height: 7%;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 8vw, 8rem);
    padding-top:4px;
}

img {
    height: 30px;
    width: 30px;
}

.option-container {
    height: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}

.option-container>div {
    padding-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}


.selected-option {
    opacity: 100%;
    font-weight: bold;
}

.unselected-option {
    opacity: 35%;
}

